* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    --clr1: #1aa1fe;
    --clr2: #525bff;
    --clr3: #02befe;
    --txclr: #f0f7ff;
    --bgclr: #19222c;
    --tbgclr: #19222cc1;
    --dkbgclr: #10161c;
    --tdkbgclr: #10161cc1;
    --clr: dimgrey;
    --clr0: gainsboro;
    background: var(--bgclr);
    background: linear-gradient(to left, var(--bgclr), var(--dkbgclr));
    font-family: 'Lucida Sans Unicode';
    font-size: 1rem;
    color: var(--txclr);

    div {
        display: grid;
    }

    h1 {
        font-size: 2rem;
        margin-block: 10px;
    }

    a {
        color: var(--txclr);
    }

    /* h1,
    h2,
    h3,
    h4,
    p,
    span,
    label {
        border: 1px solid var(--clr0);
    } */
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: var(--tdkbgclr);
    border-inline: 2.5px solid var(--tbgclr);
}

::-webkit-scrollbar-thumb {
    background: var(--bgclr);
}

header,
section,
footer {
    display: grid;
    place-items: center;
}

header {
    height: 65px;
}

.navbar {
    position: fixed;
    z-index: 1000;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: calc(3vw + 5%);
    background: var(--tbgclr);
    background: linear-gradient(to left, var(--tbgclr), var(--tdkbgclr));

    .logo {
        max-height: 65px;
        width: 180px;
        place-items: center;
        /* border: 1px solid var(--clr); */

        a {
            display: grid;
            place-items: center;
            /* border: 1px solid var(--clr); */

            img {
                height: auto;
                width: 85%;
                cursor: pointer;
                transition: .25s;
                /* border: 1px solid var(--clr); */
            }

            img:hover {
                width: 95%;
                transition: .35s;
            }
        }
    }

    .menu {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: right;
        /* border: 1px solid var(--clr); */

        .socials {
            height: 65px;
            display: flex;
            align-items: center;
            /* border: 1px solid var(--clr); */

            a {
                margin-inline: 5px;
                /* border: 1px solid var(--clr); */

                div {
                    height: 35px;
                    width: 35px;
                    place-items: center;
                    border-radius: 50%;
                    border: 1px solid var(--clr1);
                    transition: .4s ease;
                }

                div:hover {
                    background: var(--clr1);
                    box-shadow: 0 0 20px var(--clr1);
                    transition: .8s ease;
                }
            }
        }

        label {
            margin-left: 10px;
            display: grid;
            place-items: center;
            cursor: pointer;

            svg {
                height: 1.8rem;
                transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .line {
                fill: none;
                stroke: var(--txclr);
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 3;
                transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .line-top-bottom {
                stroke-dasharray: 12 63;
            }
        }

        .li {
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .li:hover {
            cursor: pointer;
            color: var(--clr1);
        }

        nav {
            top: 65px;
            position: absolute;
            background: linear-gradient(to right, var(--bgclr), var(--bgclr));
            display: none;
            place-items: center;

            li {
                padding: 5px;
                padding-inline: 10px;
                font-size: 1.1rem;
                /* border: 1px solid var(--clr); */
            }
        }

        #navbar {
            display: none;
        }

        #navbar:checked~label svg {
            transform: rotate(-45deg);
        }

        #navbar:checked~label svg .line-top-bottom {
            stroke-dasharray: 20 300;
            stroke-dashoffset: -32.42;
        }

        #navbar:checked~nav {
            display: grid;
        }
    }
}

.container {
    min-height: calc(100vh - 65px);
    width: 85vw;
    align-content: center;
    margin-top: 65px;
    padding-top: 5vh;
    /* border: 1px solid var(--clr); */
}

#home .container {
    grid-template-areas: "a1 a2";
    grid-template-columns: 35% 65%;
    margin-top: 0px;
    padding-top: 5vh;

    .devices {
        grid-area: a1;
    }

    .welcome {
        grid-area: a2;
    }

    .column {
        place-items: center;
        text-align: center;
        /* border: 1px solid var(--clr); */

        .hello {
            place-items: center;
            position: relative;
            height: 200px;
            width: 250px;
            /* border: 1px solid var(--clr); */
        }

        h1 {
            font-size: clamp(3rem, 3rem + 3vw, 6rem);
            letter-spacing: -5px;

            /* .code {
                background: linear-gradient(to right, var(--clr1), var(--clr3), var(--clr2));
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            } */
        }
    }
}

#about .container {
    grid-template-areas: "a1 a2";
    grid-template-columns: 55% 45%;

    .about {
        grid-area: a1;
    }

    .portrait {
        grid-area: a2;
    }

    .column {
        place-items: center;
        /* border: 1px solid var(--clr); */

        h4 {
            color: var(--clr1);
            font-size: 1.1rem;
            opacity: .8;
        }

        .btn {
            border: 1px solid gainsboro;
            border-radius: 10px;
            font-size: .8rem;
            padding-block: 2px;
            text-align: center;
            margin-block: 20px;
            margin-inline: 5px;
            max-width: 120px;
            opacity: .5;
        }

        .btn:hover {
            filter: contrast(90%);
            opacity: 1;
        }

        div .skills {
            grid-template-columns: 100%;
            margin-block: 15px 15px;

            div {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                place-items: center;

                .tech {
                    grid-template-columns: 100%;
                    grid-template-rows: 20% 80%;
                    place-items: center;
                    text-align: center;
                    margin-top: 10px;
                    height: 110px;
                    width: 90%;
                    max-width: 95px;
                    /* border: 1px solid var(--clr); */

                    h4 {
                        color: var(--txclr);
                        font-size: .8rem;
                        opacity: 1;
                    }

                    img {
                        height: 70%;
                        width: 70%;
                        object-fit: contain;
                        border-radius: 10px;
                        opacity: .8;
                        transition: .3 ease;
                    }

                    img:hover {
                        height: 80%;
                        width: 80%;
                        opacity: 1;
                        filter: contrast(120%);
                        transition: .6s ease;
                        box-shadow: 0 0 5px var(--clr);
                        cursor: crosshair;
                    }
                }

                a {
                    width: 100px;
                    margin: 5px;
                    border-radius: 10px;
                    border: .5px solid var(--txclr);
                    font-size: .8rem;
                    opacity: .5;
                }

                a:hover {
                    filter: contrast(90%);
                    opacity: 1;
                }
            }
        }

        .image {
            place-items: center;
            height: calc(85vw - (85vw * .55));
            max-height: 500px;
            width: 85%;
            /* border: 1px solid var(--clr); */

            img {
                height: 100%;
                width: auto;
                max-width: 90%;
                min-width: 70%;
                border-radius: 10px;
                object-fit: cover;
                opacity: .7;
                transition: .4s;
                /* border: 1px solid var(--clr); */
            }

            img:hover {
                cursor: crosshair;
                height: 95%;
                opacity: 1;
                filter: contrast(110%);
                transition: .8s;
            }
        }
    }
}

#experience {

    .container {
        overflow: hidden;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: relative;
        place-items: center;

        .content {
            width: 85vw;
            /* border: 1px solid var(--clr); */
        }

        .experience {
            position: relative;
            place-items: center;

            .line {
                position: absolute;
                height: 92%;
                border-inline: .5px dashed var(--clr1);
            }

            .aright {
                grid-template-areas: "none icon text";
            }

            .aleft {
                grid-template-areas: "text icon none";
            }

            .aright,
            .aleft {
                grid-template-columns: calc(42.5vw - 26.5px) 50px calc(42.5vw - 26.5px);
                place-items: center;
                /* border: 1px solid var(--clr); */
            }

            .aright div,
            .aleft div {
                background: var(--tbgclr);
                box-shadow: 0 0 2px var(--txclr);
                z-index: 1;
            }

            .aright .exp:hover,
            .aleft .exp:hover {
                background: var(--dkbgclr);
                filter: drop-shadow(-2px -2px 2px var(--clr3)) drop-shadow(2px 2px 2px var(--clr2));
            }

            .aleft .exp:hover~.icon:not(:hover),
            .aright .exp:hover~.icon:not(:hover) {
                transform: scale(1.2, 1.2);
                background: var(--dkbgclr);
                filter: drop-shadow(-2px -2px 2px var(--clr2)) drop-shadow(2px 2px 2px var(--clr3));
            }

            .none {
                visibility: hidden;
            }

            .icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                place-items: center;
                z-index: 1;
                font-size: 1.25rem;
            }

            .exp {
                width: 95%;
                grid-area: text;
                border-radius: 10px;
                margin-block: 20px;
                padding: 12px;
                text-align: start;

                span {
                    color: var(--clr1);
                    font-size: .8rem;
                    opacity: .9;
                }

                p {
                    font-size: .9rem;
                }
            }
        }
    }
}

#services {

    .container {
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 100%;
        position: relative;
        place-items: center;

        .content {
            width: 85vw;
            /* border: 1px solid var(--clr); */

            .services {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                place-items: center;
                margin-top: 20px;
                /* border: 1px solid var(--clr); */

                .card {
                    margin: 5px;
                    padding: 20px;
                    align-content: center;
                    min-height: 200px;
                    transition: .3s ease-in-out;
                    border-radius: 18px;
                    border: 1px solid var(--tdkbgclr);
                    background: rgba(0, 0, 0, 0.5);

                    .card-header {
                        display: grid;
                        grid-template-columns: 60px 1fr;
                        align-items: center;
                        gap: 10px;

                        .icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: linear-gradient(var(--clr2), var(--clr1));
                            font-size: 26px;
                            height: 56px;
                            width: 56px;
                            border-radius: 18px;
                            box-shadow: 0 10px 24px var(--tbgclr);
                            filter: drop-shadow(0 0 3px var(--clr3));
                        }
                    }

                    /* div {
                        grid-template-columns: 15% 85%;

                        .icon {
                            place-items: center;
                            text-align: center;
                            display: block;
                            background: linear-gradient(var(--clr2), var(--clr3));
                            height: 40px;
                            width: 40px;
                            border-radius: 10px;
                            border: 1px solid var(--clr);
                        }
                    } */
                }

                .card>* {
                    margin-block: 10px;
                }
            }

            .services div:hover {
                transform: scale(1.02, 1.02);
                transition: .4s;
                cursor: crosshair;
            }

            .services:hover>div:not(:hover) {
                filter: blur(1.5px);
                transform: scale(0.95, 0.95);
                transition: .5s ease-in-out;
            }
        }
    }

    .container::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../images/image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(7px);
        z-index: -1;
    }
}

#projects .container {

    h1 {
        text-align: center;
    }

    div {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        place-items: center;

        .service {
            position: relative;
            width: minmax(250px, 1fr);
            max-height: 400px;
            max-width: 400px;
            overflow: hidden;
            cursor: pointer;
            filter: brightness(.5);
            padding: 5px;
            /* border: 1px solid var(--clr); */

            img {
                max-width: 100%;
                object-fit: contain;
            }

            h3,
            p {
                background: var(--tdkbgclr);
                position: absolute;
                visibility: hidden;
                text-align: center;
            }

            p {
                padding: 5px 10px;
                bottom: -15px;
            }

            h3 {
                top: -15px;
            }
        }

        .service:hover {
            filter: contrast(110%);

            h3,
            p {
                transition: 1s ease;
                visibility: visible;
            }

            p {
                bottom: 0px;
            }

            h3 {
                top: 0px;
            }
        }
    }
}

#contact .container {
    min-height: calc(100vh - 95px);
    grid-template-columns: 58% 42%;

    .column {
        place-items: center;
        align-content: center;
        /* border: 1px solid var(--clr); */

        form {
            grid-template-columns: 1fr;
            width: 75%;
            /* border: 1px solid var(--clr); */

            .box {
                position: relative;
                place-items: center;
                margin-block: 15px;

                input,
                textarea {
                    font-family: 'Lucida Sans Unicode';
                    font-size: .9rem;
                    background: transparent;
                    color: var(--txclr);
                    width: 95%;
                    padding-inline: 10px;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    box-shadow: 0 0 5px dimgrey;
                }

                input {
                    height: 30px;
                }

                textarea {
                    height: calc(30px * 3.5);
                    padding-top: 25px;
                    transition: .5s ease;
                }

                input:focus,
                textarea:focus {
                    box-shadow: 0 0 10px var(--clr1);
                }

                textarea:focus,
                textarea:valid {
                    padding-top: 5px;
                }

                label {
                    position: absolute;
                    top: 1px;
                    left: 25px;
                    color: dimgrey;
                    pointer-events: none;
                    transition: .5s ease;
                    font-size: 1rem;
                    font-weight: 600;
                }

                input:focus~label,
                input:valid~label,
                textarea:focus~label,
                textarea:valid~label {
                    top: -12px;
                    color: var(--clr1);
                    font-size: .75rem;
                    background: var(--bgclr);
                    padding-inline: 4px;
                }

                button {
                    font-size: 1rem;
                    font-weight: 600;
                    background: transparent;
                    color: var(--txclr);
                    height: 30px;
                    padding-inline: 30px;
                    cursor: pointer;
                    border: 1px solid var(--clr1);
                    border-radius: 10px;
                    transition: .4s ease;
                }

                button:hover {
                    background: var(--clr1);
                    box-shadow: 0 0 20px var(--clr1);
                    transition: .8s ease;
                }
            }

            #alert {
                font-size: .8rem;
                margin-inline: 4%;
                /* display: none; */
                color: var(--clr3);
            }
        }

        .network {
            margin-block: 10px;
            text-align: center;

            a {
                display: flex;
                align-items: center;
                height: 30px;
                color: gainsboro;
                /* border: 1px solid var(--clr); */

                i {
                    font-size: 1.2rem;
                    width: 30px;
                    transition: .1s ease;
                    /* border: 1px solid var(--clr); */
                }

                i:hover {
                    color: var(--clr1);
                    font-size: 1.4rem;
                    transition: .3s ease;
                }
            }

            a:hover {
                color: var(--txclr);
                filter: contrast(120%);
            }
        }

        .social {
            display: flex;
            margin-bottom: 0px;
            /* border: 1px solid var(--clr); */

            a {
                margin-inline: 5px;
            }
        }
    }
}

footer {
    height: 30px;
}

@media(max-width: 864px) {

    .container {
        h1 {
            text-align: center;
        }
    }

    #home .container {
        grid-template-areas:
            "a1"
            "a2";
        grid-template-columns: 100%;
    }

    #about .container {
        grid-template-areas:
            "a2"
            "a1";
        grid-template-columns: 100%;

        .column h1 {
            text-align: start;
        }

        .column h2,
        .column h3 {
            text-align: center;
        }

        .column .image {
            height: 340px;
            width: 300px;
            margin-bottom: 25px;
        }
    }

    #experience .container {

        .experience .aright,
        .experience .aleft {
            grid-template-areas: "icon text";
            grid-template-columns: 50px auto;
        }

        .none {
            display: none;
        }
    }

    #services .container {
        .content .services {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #contact .container {
        grid-template-columns: 100%;
        grid-template-rows: auto 400px;
    }
}

@media(max-width: 661px) {

    .navbar .menu div {
        display: none;
    }

    #home .devices {
        display: none;
    }

    #services .container {
        .content .services {
            grid-template-columns: 100%;
        }
    }

    #contact .container {
        .column form {
            width: 80%;
        }
    }
}